<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" th:href="@{/css/index_styles.css}">
</head>
<body>
<h1>Contact List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th class="actions-column">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.id}"></td>
        <td th:text="${contact.firstName}"></td>
        <td th:text="${contact.lastName}"></td>
        <td th:text="${contact.email}"></td>
        <td th:text="${contact.phone}"></td>
        <td class="actions">
            <form th:action="@{/edit-contact/{id}(id=${contact.id})}" th:method="get">
                <button type="submit">Edit</button>
            </form>
            <form th:action="@{/delete-contact/{id}(id=${contact.id})}" th:method="get">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form action="/create-contact" method="get">
    <button type="submit" class="add-contact-button">Add Contact</button>
</form>
</body>
</html>